﻿@section Scripts {
    @Scripts.Render("~/Scripts/Skripta.js")
}
<div class="container">

    <div class="row">
        <br />
        <span id="info"></span>
        <button id="odjava" class="btn btn-default" style="display:none;width:150px;float:right;background-color:yellow"> Odjava </button>
        <button id="priBtn" class="btn btn-default" style="width:150px;float:right;margin-left:20px"> Prijava </button>
        <button id="regBtn" class="btn btn-default" style="width:150px;float:right;background-color:yellow"> Registracija </button>
    </div>

    <div class="row">
        <div class="col-lg-4">
            <form class="form-horizontal" method="post" action="post/" id="pretraga" style="display:none">
                <br />
                <br />
                <h2>Pretraga po kapacitetu</h2>
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-pull-4">Najmanje soba:</label>
                    <div class="col-sm-8" style="float:right">
                        <input type="text" class="form-control" id="start">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label col-sm-pull-4">Najvise soba:</label>
                    <div class="col-sm-8" style="float:right">
                        <input type="text" class="form-control" id="kraj">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <div>
                        <button type="submit" class="btn btn-default" style="float:left;width:150px">Pretraga</button>
                    </div>
                </div>
            </form>

            
        </div>

        <div id="tradicija" style="display:none;float:right">
            <br/>
            <br/>
            <h3> Hotelski lanci sa najduzom tradicijom </h3>
            <button id="ucitavanje" class="btn btn-default" style="width:150px;float:right;margin-right:100px"> Ucitavanje </button>
            <div id="tradicijaDiv">

            </div>
        </div>

     </div>


        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <form class="form-horizontal" method="post" action="post/" id="prijava" style="display:none">
                    <div class="col-sm-offset-4">
                        <h3>Prijava korisnika</h3>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Korisnicko ime:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="email" class="form-control" id="priEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Lozinka:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="password" class="form-control" id="priLoz">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <button id="odustajanje1" class="btn btn-default" style="float:left;width:150px;background-color:yellow">Odustajanje</button>
                            <button type="submit" class="btn btn-default" style="float:right;width:150px">Prijava</button>
                        </div>
                    </div>
                </form>


                <form class="form-horizontal" method="post" action="post/" id="registracija" style="display:none">
                    <div class="col-sm-offset-4">
                        <h3>Registracija korisnika</h3>
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Korisnicko ime:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="email" class="form-control" id="regEmail">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Lozinka:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="password" class="form-control" id="regLoz">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Ponovi lozinku:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="password" class="form-control" id="regLoz2">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <button type="submit" id="odustajanje2" class="btn btn-default" style="float:left;width:150px;background-color:yellow">Odustajanje</button>
                            <button type="submit" class="btn btn-default" style="float:right;width:150px">Registracija</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-4" id="info2" style="display:none">
                <h3 style="display:block"> Uspesna registracija na sistem </h3>
                <div class="col-lg-offset-1">
                    <button id="priSistem" class="btn btn-default" style="width:200px">Prijava na sistem</button>
                </div>
            </div>
        </div>

        <div class="row">
            <div id="data">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-offset-4 col-lg-4">
                <form class="form-horizontal" method="post" action="post/" id="dodavanje" style="display:none">
                    <h2>Dodavanje novog hotela</h2>
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Lanac:</label>
                        <div class="col-sm-8" style="float:right">
                            <select class="form-control" id="lanac"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Naziv:</label>
                        <div class="col-sm-8" style="float:right">
                            <input type="text" class="form-control" id="naziv">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Godina otvaranja:</label>
                        <div class="col-sm-4" style="float:right">
                            <input type="text" class="form-control" id="godina">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Broj soba:</label>
                        <div class="col-sm-4" style="float:right">
                            <input type="text" class="form-control" id="sobe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-pull-4">Broj zaposlenih:</label>
                        <div class="col-sm-4" style="float:right">
                            <input type="text" class="form-control" id="zaposleni">
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div>
                            <button type="submit" id="odustajanje" class="btn btn-default" style="float:left;width:150px;background-color:yellow">Odustajanje</button>
                            <button type="submit" class="btn btn-default" style="float:right;width:150px">Dodavanje</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>


    </div>
